// footer
footer.footer 
	.wrapper 
		.row
			.footer_col
				.footer_time
					p пн-пт: 9.00 - 18.00
					p сб-вс: 10.00 - 17.00
				a(href="#").request
					span.request_text Режим работы
					span.request_icon.icon-time
			.footer_col
				a(href="#").request
					span.request_text Заказать звонок
					img(src="img/phone.svg", alt="phone").request_icon
			.footer_col
				.footer_mail 
					a(href="mailto:mail@milamikirov.ru") mail@milamikirov.ru
				a(href="#").request
					span.request_text Оставить заявку
					span.request_icon.icon-arrow-right
			.footer_col
				.footer_copy &copy; Милами 2019
// /footer