.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&_nav {
		
	}
	&_list {

	}
	&_item {
		display: inline-block;
		vertical-align: middle;
		> a {
			display: block;
			padding: 15px 11px;
			text-decoration: none;
			color: $black;
			font-weight: 700;
		}
	}
	&_close {
		width: 60px;
		height: 60px;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 2;
		&:after, &:before {
			content: '';
			display: block;
			width: 25px;
			height: 2px;
			background-color: $black;
			position: absolute;
			top: 30px;
			left: 20px;
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:before {
			transform: rotate(45deg);
		}
	}
	@media (max-width: $break_md) {
		&_item {
			> a {
				padding: 15px 6px;
			}
		}
	}
	@media (max-width: $break_sm) {
		padding-top: 8px;
		position: relative;
		z-index: 100;
		width: 100%;
		&--left {
			&.open {
				.menu_item {
					> a {
						animation: menuLinkLeft .5s linear;
					}
				}
				.menu_nav {
					left: 0;
				}
				.menu_over {
					display: block;
				}
			}
			.menu_nav {
				position: fixed;
				top: 0;
				bottom: 0;
				left: -1000px;
				transition: .5s;
				overflow-y: auto;
			}
			.menu_over {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0,0,0,.5);
			}
		}
		&_nav {
			width: 84%;
			background-color: #fff;
			z-index: 99;
			overflow: hidden;
		}
		&_item {
			display: block;
			border-bottom: 1px solid $grayL;
			text-align: center;
			> a {
				padding: 35px 50px 35px 20px;
				font-size: 16px;
				text-align: left;
				position: relative;
			}
			&:nth-child(2) {
				a {
					animation-delay: .02s !important;
				}
			}
			&:nth-child(3) {
				> a {
					animation-delay: 0.04s !important;
				}
			}
			&:nth-child(4) {
				> a {
					animation-delay: 0.06s !important;
				}
			}
			&:nth-child(5) {
				> a {
					animation-delay: 0.08s !important;
				}
			}
			&:nth-child(6) {
				> a {
					animation-delay: 0.1s !important;
				}
			}
			&:nth-child(7) {
				> a {
					animation-delay: 0.12s !important;
				}
			}
			&:nth-child(8) {
				> a {
					animation-delay: 0.14s!important;
				}
			}
			&:nth-child(9) {
				> a {
					animation-delay: 0.16s !important;
				}
			}
			&:nth-child(10) {
				> a {
					animation-delay: 0.18s !important;
				}
			}
			&--catalog {
				> a {
					padding: 20px 50px 20px 65px;
					&:after {
						content: '\1f300';
						display: block;
						font-family: 'icomoon' !important;
						font-weight: 400;
						font-size: 30px;
						position: absolute;
						top: 50%;
						right: 15px;
						transform: translate(0,-50%);
						transition: .3s;
					}
					&.active {
						&:after {
							transform: translate(0,-50%) rotate(180deg);
						}
					}
				}
			}
			&--child {
				> a {
						&:after {
						content: '\1f300';
						display: block;
						font-family: 'icomoon' !important;
						font-weight: 400;
						font-size: 30px;
						position: absolute;
						top: 50%;
						right: 15px;
						transform: translate(0,-50%);
						transition: .3s;
					}
					&.active {
						&:after {
							transform: translate(0,-50%) rotate(180deg);
						}
					}
				}
			}
		}
		&_over {
			display: none;
			z-index: 98;
		}
		&_catalog-hamburger {
			display: none;
		}
	}
	@media (min-width: $break_sm + 1) {
		&_item {
			&--child {
				position: relative;
				&:after {
					display: none;
					@include triangle('up',5px,10px,#fff);
					left: 50%;
					bottom: 0;
					transform: translate(-50%,0);
				}
			}
			&--catalog {
				margin-right: 38px;
				> a {
					padding-left: 28px;
					padding-right: 18px;
				}
			}
			&:hover {
				> a {
					background-color: $yellow;
				}
				> ul:not(.catalog) {
					display: block;
				}
				&:after {
					display: block;
				}
			}
			> a.active {
				background-color: $yellow;
			}
		}
		&_catalog-hamburger {
			display: block;
			width: 17px;
			height: 2px;
			background-color: $black;
			position: absolute;
			top: 22px;
			&:after, &:before {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background-color: $black;
				position: absolute;
			}
			&:after {
				top: -6px;
			}
			&:before {
				bottom: -6px;
			}
		}
		&_close {
			display: none;
		}
	}
}
.hamburger {
	display: none;
	user-select: none;
	position: relative;
	z-index: 99;
	@media (max-width:$break_sm) {
		display: block;
	}
}
.submenu {
	display: none;
	min-width: 250px;
	padding: 25px 60px;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
	border-radius: 25px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	text-align: left;
	z-index: 3;
	&_item {
		&:not(:last-child) {
			margin-bottom: 23px;
		}
		> a {
			color: $black;
			&:hover {
				color: $blue;
			}
		}
	}
	@media (max-width: $break_sm) {
		position: relative;
		box-shadow: none;
		font-size: 16px;
		padding: 0 20px 25px 20px;
	}
	@media (min-width: $break_sm + 1) {
		&_item {
			> a {
				&:active {
					color: $black;
					font-weight: 700;
					border-bottom: 1px dotted $black;
				}
			}
		}
	}
}
@keyframes menuLinkLeft {
	0% {
		transform: translate(-500px);
	}
	100% {
		transform: translate(0);
	}
}
@keyframes menuLinkRight {
	0% {
		transform: translate(500px);
	}
	100% {
		transform: translate(0);
	}
}
@keyframes menuLinkTop {
	0% {
		transform: translate(0,-200px);
	}
	100% {
		transform: translate(0,0);
	}
}
@keyframes menuLinkBottom {
	0% {
		transform: translate(0,200px);
	}
	100% {
		transform: translate(0,0);
	}
}